.art1 
    
        
    h1.main-title ARTICLES
    .container1.container 

        .box2 
            img.img-fluid(src="imgs/cat-01.jpg")
            .tille
                h3  Test Title
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
            .info
                a(href="") Read More
                i.fas.fa-arrow-right
        .box2 
            img.img-fluid(src="imgs/cat-02.jpg")
            .tille
                h3  Test Title
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
            .info
                a(href="") Read More
                i.fas.fa-arrow-right
        .box2 
            img.img-fluid(src="imgs/cat-03.jpg")
            .tille
                h3  Test Title
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
            .info
                a(href="") Read More
                i.fas.fa-arrow-right
        .box2 
            img.img-fluid(src="imgs/cat-04.jpg")
            .tille
                h3  Test Title
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
            .info
                a(href="") Read More
                i.fas.fa-arrow-right
        .box2 
            img.img-fluid(src="imgs/cat-05.jpg")
            .tille
                h3  Test Title
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
            .info
                a(href="") Read More
                i.fas.fa-arrow-right
        .box2
            img.img-fluid(src="imgs/cat-06.jpg")
            .tille
                h3  Test Title
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
            .info
                a(href="") Read More
                i.fas.fa-arrow-right
        .box2
            img.img-fluid(src="imgs/cat-07.jpg")
            .tille
                h3  Test Title
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
            .info
                a(href="") Read More
                i.fas.fa-arrow-right
        .box2
            img.img-fluid(src="imgs/cat-08.jpg")
            .tille
                h3  Test Title
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
            .info
                a(href="") Read More
                i.fas.fa-arrow-right
.spikes