.disc 
    .image 
        .content 
            h2 we have discount 
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi asperiores consectetur, recusandae ratione provident necessitatibus, cumque delectus commodi fuga praesentium beatae. Totam vel similique laborum dicta aperiam odit doloribus corporis.
            img(src="imgs/discount.png")
    .form
        .content 
            
            h2 request a discount 
            form
                input.input(type="text" placeholder="yor name")
                input.input(type="text" placeholder="yor Email")
                input.input(type="text" placeholder="your phone")
                textarea.input(placeholder="tell us about your needs" name="message")
                input(type="submit" value="send")
