.events 
    .dots.dots-up 
    .dots.dots-down
    h1.main-title latest events
    .container.container3 
        img(src="imgs/events.png")
        .info 
            .time 
                .unit 
                    span 15
                    span days 
                .unit 
                    span 08
                    span hours
                .unit 
                    span 45
                    span minutes
                .unit 
                    span 55
                    span seconds
            .title 
                h2 Tech Masters Event 2021
                p.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vero tenetur doloremque iusto ut adipisci quam ratione aliquam excepturi nulla in harum, veritatis porro
        .subscripe 
            form(action="")
                input(type="email" placeholder="Enter your email")
                input(type="submit" value="subscribe")

            