.footer
    .container6.container 
        .box 
            h3 elzero
            ul.list-unstyled.social
                        li
                            a.facebook(href="") 
                                i.fab.fa-facebook.fa-x
                        li 
                            a.twitter(href="") 

                                i.fab.fa-twitter.fa-x
                        li
                            a.youtube(href="")
                                i.fab.fa-youtube.fa-x 
            p.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus nulla rem, dignissimos iste aspernatur
        .box 
            ul.links.list-unstyled 
                        li 
                            a(href="")
                                i.fas.fa-angle-double-right 
                                | Important Link 1
                        li 
                            a(href="")
                                i.fas.fa-angle-double-right 
                                | Important Link 2
                        li 
                            a(href="")
                                i.fas.fa-angle-double-right 
                                | Important Link 3
                        li 
                            a(href="")
                                i.fas.fa-angle-double-right 
                                | Important Link 4
                        li 
                            a(href="")
                                i.fas.fa-angle-double-right 
                                | Important Link 5
        .box 
            .line
                i.fas.fa-map-marker.fa-lg 
                .info Egypt, Giza, Inside The Sphinx, Room Number 220
            .line
                i.fas.fa-clock.fa-lg
                .info Business Hours: From 10:00 To 18:00
            .line
                i.fas.fa-phone.fa-lg
                .info  
                    span +20123456789
                    span  +20198765432
        .box.footer-gallary 
            img(src="imgs/gallery-01.png")
            img(src="imgs/gallery-02.png")
            img(src="imgs/gallery-03.jpg")
            img(src="imgs/gallery-04.png")
            img(src="imgs/gallery-05.jpg")
            img(src="imgs/gallery-06.png")

    p.copy Made With <3 By Elzero