.gallery
    h1.main-title GALLERY
    .container.container3
        .box 
            .image2 
                img(src="imgs/gallery-01.png")
        .box 
            .image2 
                img(src="imgs/gallery-02.png")
        .box 
            .image2 
                img(src="imgs/gallery-03.jpg")
        .box 
            .image2 
                img(src="imgs/gallery-04.png")
        .box 
            .image2 
                img(src="imgs/gallery-05.jpg")
        .box 
            .image2 
                img(src="imgs/gallery-06.png")