.header 
    .container
        .logo
            a(href="") Elzero
        ul.list-unstyled.ss 
            li
                a.xx(href="#artical") Articles
            li 
                a.xx(href="#gallary") Gallary
            li
                a.xx(href="#feature") Features
            li.meg
                a.xx(href="") Other Links
                .mega-menu 
                    .image1
                        img(src="imgs/megamenu.png")
                    ul.list-unstyled 
                        li 
                            a(href="#test")
                                i.far.fa-comments
                                | testemonials
                        li
                            a(href="#team")
                                i.far.fa-user 
                                |Team Members
                        li
                            a(href="#ser")
                                i.far.fa-building 
                                |Services
                        li 
                            a(href="#skills")
                                i.far.fa-check-circle 
                                |Our Skills
                        li
                            a(href="#how")

                                i.far.fa-clipboard 
                                |How it works
                    ul.list-unstyled 
                        li 
                            a(href="#event")
                                i.far.fa-calendar 
                                |Events
                        li
                            a(href="#price")
                                i.fas.fa-server 
                                |Pricing Plans
                        li
                            a(href="#top")
                                i.far.fa-play-circle 
                                |Top vidios
                        li 
                            a(href="#state")
                                i.far.fa-chart-bar 
                                |Stats
                        li
                            a(href="#disc")
                                i.fas.fa-percent 
                                |Request A Discount