.pricing 
    .dots.dots-up
    .dots.dots-down
    h1.main-title pricing plans 
    .container.container3 
        .box 
            h3.title basic 
            img(src="imgs/hosting-basic.png")
            .price 
                span.amount $15 
                span.time per month
            ul 
                li 10GB HDD Space
                li 5 Email Addresses
                li 2 Subdomains
                li 4 Databases
                li Basic Support 
            a(href="") choose plan
        .box.pop 
            .label most popular 
            h3.title advanced
            img(src="imgs/hosting-basic.png")
            .price 
                span.amount $25 
                span.time per month
            ul 
                li 10GB HDD Space
                li 5 Email Addresses
                li 2 Subdomains
                li 4 Databases
                li Basic Support 
            a(href="") choose plan
        .box.adv 
            h3.title professional 
            img(src="imgs/hosting-basic.png")
            .price 
                span.amount $35 
                span.time per month
            ul 
                li 10GB HDD Space
                li 5 Email Addresses
                li 2 Subdomains
                li 4 Databases
                li Basic Support 
            a(href="") choose plan