.services 
    h1.main-title services 
    .container.container3 
        .box 
            i.fas.fa-user-shield.fa-4x 
            h3 security 
            .info 
                a(href="") details
        .box 
            i.fas.fa-tools.fa-4x 
            h3 security 
            .info 
                a(href="") details
        .box 
            i.fas.fa-map-marked.fa-4x 
            h3 security 
            .info 
                a(href="") details
        .box 
            i.fas.fa-laptop-code.fa-4x 
            h3 security 
            .info 
                a(href="") details
        .box 
            i.fas.fa-palette.fa-4x 
            h3 security 
            .info 
                a(href="") details
        .box 
            i.fas.fa-bullhorn.fa-4x 
            h3 security 
            .info 
                a(href="") details
