.our-skills 
    h1.main-title our skills 
    .container.container4 
        img(src="imgs/skills.png")
        .skills 
            .skill
                h3 html 
                    span 80%
                .the-progress
                    span(style="width:80%")
        
            .skill
                h3 css 
                    span 80%
                .the-progress
                    span(style="width:90%")
        
            .skill
                h3 js 
                    span 80%
                .the-progress
                    span(style="width:70%")
        
            .skill
                h3 python 
                    span 80%
                .the-progress
                    span(style="width:80%")