.state
    h2 our awesome state 
    .container.container3 
        .box 
            i.far.fa-user.fa-2x.fa-fw
            span.number 300
            span.text projects 
        .box 
            i.fas.fa-code.fa-2x.fa-fw
            span.number 300
            span.text projects
        .box 
            i.fas.fa-globe-asia.fa-2x.fa-fw
            span.number 300
            span.text projects
        .box 
            i.fas.fa-money-bill.fa-2x.fa-fw
            span.number 300
            span.text projects