.team 
    h1.main-title team members
    .container.container3 
        .box
            .data 
                img(src="imgs/team-01.jpg")
                .social 
                    a(href="")
                        i.fab.fa-facebook-f
                    a(href="")
                        i.fab.fa-twitter
                    a(href="")
                        i.fab.fa-linkedin 
                    a(href="")
                        i.fab.fa-youtube
            .info 
                h3 NAME 
                p simple short description
        .box
            .data 
                img(src="imgs/team-02.jpg")
                .social 
                    a(href="")
                        i.fab.fa-facebook-f
                    a(href="")
                        i.fab.fa-twitter
                    a(href="")
                        i.fab.fa-linkedin 
                    a(href="")
                        i.fab.fa-youtube
            .info 
                h3 NAME 
                p simple short description
        .box
            .data 
                img(src="imgs/team-03.jpg")
                .social 
                    a(href="")
                        i.fab.fa-facebook-f
                    a(href="")
                        i.fab.fa-twitter
                    a(href="")
                        i.fab.fa-linkedin 
                    a(href="")
                        i.fab.fa-youtube
            .info 
                h3 NAME 
                p simple short description
        .box
            .data 
                img(src="imgs/team-04.jpg")
                .social 
                    a(href="")
                        i.fab.fa-facebook-f
                    a(href="")
                        i.fab.fa-twitter
                    a(href="")
                        i.fab.fa-linkedin 
                    a(href="")
                        i.fab.fa-youtube
            .info 
                h3 NAME 
                p simple short description
        .box
            .data 
                img(src="imgs/team-05.png")
                .social 
                    a(href="")
                        i.fab.fa-facebook-f
                    a(href="")
                        i.fab.fa-twitter
                    a(href="")
                        i.fab.fa-linkedin 
                    a(href="")
                        i.fab.fa-youtube
            .info 
                h3 NAME 
                p simple short description
        .box
            .data 
                img(src="imgs/team-06.png")
                .social 
                    a(href="")
                        i.fab.fa-facebook-f
                    a(href="")
                        i.fab.fa-twitter
                    a(href="")
                        i.fab.fa-linkedin 
                    a(href="")
                        i.fab.fa-youtube
            .info 
                h3 NAME 
                p simple short description
.spikes
        