.test 
    h1.main-title testmonials
    .container.container3 
        .box 
            img(src="imgs/avatar-01.png")
            h3 mohammed farag 
            span.title full stack web developper 
            .rate  
                i.filled.fas.fa-star
                i.filled.fas.fa-star
                i.filled.fas.fa-star
                i.filled.fas.fa-star

                i.far.fa-star
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
        .box 
            img(src="imgs/avatar-02.png")
            h3 mohammed farag 
            span.title full stack web developper 
            .rate  
                i.filled.fas.fa-star
                i.filled.fas.fa-star
                i.filled.fas.fa-star
                i.filled.fas.fa-star

                i.far.fa-star
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
        .box 
            img(src="imgs/avatar-03.png")
            h3 mohammed farag 
            span.title full stack web developper 
            .rate  
                i.filled.fas.fa-star
                i.filled.fas.fa-star
                i.filled.fas.fa-star
                i.filled.fas.fa-star

                i.far.fa-star
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
        .box 
            img(src="imgs/avatar-04.png")
            h3 mohammed farag 
            span.title full stack web developper 
            .rate  
                i.filled.fas.fa-star
                i.filled.fas.fa-star
                i.filled.fas.fa-star
                i.filled.fas.fa-star

                i.far.fa-star
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
        .box 
            img(src="imgs/avatar-05.png")
            h3 mohammed farag 
            span.title full stack web developper 
            .rate  
                i.filled.fas.fa-star
                i.filled.fas.fa-star
                i.filled.fas.fa-star
                i.filled.fas.fa-star

                i.far.fa-star
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
        .box 
            img(src="imgs/avatar-06.png")
            h3 mohammed farag 
            span.title full stack web developper 
            .rate  
                i.filled.fas.fa-star
                i.filled.fas.fa-star
                i.filled.fas.fa-star
                i.filled.fas.fa-star

                i.far.fa-star
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
        