.vidios 
    h1.main-title top-vidios 
    .container
        .holder 
            .list
                .name  top vidios 
                    i.fas.fa-random 
                ul.list-unstyled 
                    li How To Create Sub Domain
                        span 05:18
                    li Playing With The DNS
                        span 03:18
                    li Everything About The Virtual Hosts
                        span 05:25
                    li How To Monitor Your Website
                        span 04:16
                    li Uncharted Beating The Last Boss
                        span 07:48
                    li Ys Oath In Felghana Overview
                        span 03:12
                    li Ys Series All Games Ending
                        span 8.10
            .preview
                    img(src="imgs/video-preview.jpg")
                    .info Everything About The Virtual Hosts