.work 
    h1.main-title how it work
    .container.container5 

        img.image(src="imgs/work-steps.png")
        .info 
            .box 
                img(src="imgs/work-steps-1.png")
                .text 
                    h3 Business Analysis 
                    p  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt obcaecati quisquam quis laborum recusandae debitis vel
            .box 
                img(src="imgs/work-steps-2.png")
                .text 
                    h3 Business Analysis 
                    p  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt obcaecati quisquam quis laborum recusandae debitis vel
            .box 
                img(src="imgs/work-steps-3.png")
                .text 
                    h3 Business Analysis 
                    p  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt obcaecati quisquam quis laborum recusandae debitis vel

