html 
    head 
        include pug/layout/styles
    body
        include pug/layout/header
    
        include pug/layout/landing
        include pug/layout/articales
        include pug/layout/gallery
        include pug/layout/features
        include pug/layout/test
        include pug/layout/team
        include pug/layout/services
        include pug/layout/skills
        include pug/layout/work
        include pug/layout/events
        include pug/layout/pricing
        include pug/layout/vidio
        include pug/layout/state
        include pug/layout/discount
        include pug/layout/footer
        include pug/layout/scripts